.input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font: inherit;
  color: inherit;
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 0 1px var(--color-accent);
}

.input:disabled {
  color: var(--color-secondary);
  background-color: var(--input-disabled-color);
}
