.button {
  display: block;
  padding: 8px 16px;
  font: inherit;
  color: var(--color-white);
  background-color: var(--btn-bg-color-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.6;
  cursor: initial;
}

.button--secondary {
  color: var(--color-primary);
  background-color: #f3f3f3;
}
