.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 90%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 25%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.modal__close-button {
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-button:disabled {
  opacity: 0.3;
  cursor: initial;
}

.modal__close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 21px;
  height: 21px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.modal__loader {
  position: absolute;
  top: 15px;
  margin: 0;
  color: var(--color-secondary);
}

.modal__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

.modal__input {
  flex-grow: 10;
  margin-bottom: 20px;
}

.modal__input:focus {
  box-shadow: 0 0 0 1px var(--color-accent);
}

.modal__input:disabled {
  color: var(--color-secondary);
  background-color: var(--input-disabled-color);
}

.modal__textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 75px;
  margin-bottom: 30px;
  padding: 8px 16px;
  font: inherit;
  color: inherit;
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  outline: none;
  resize: vertical;
}

.modal__textarea:disabled {
  color: var(--color-secondary);
  background-color: var(--input-disabled-color);
}

.modal__button {
  align-self: center;
}
