.task-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #eceff4;
  border-radius: 12px;
}

.task-item:not(:last-child) {
  margin-bottom: 15px;
}

.task-item__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.task-item__info {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  cursor: pointer;
}

.task-item__info::before,
.task-item__info::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #eceff4;
  border-radius: 50%;
  transform: translateY(-50%);
}

.task-item__info::after {
  display: none;
  background-color: var(--color-accent);
  background-image: url("../../assets/images/check.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 50%;
  border-color: var(--color-accent);
}

.task-item__checkbox:checked + .task-item__info::before {
  display: none;
}

.task-item__checkbox:checked + .task-item__info::after {
  display: block;
}

.item-task__title {
  margin: 0;
  font-weight: 500;
}

.item-task__title--checked {
  text-decoration: line-through;
}

.item-task__description {
  margin: 0;
  font-weight: 300;
  color: var(--color-secondary);
  /* stylelint-disable-next-line */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.task-item__controls {
  flex-shrink: 0;
  padding-left: 10px;
  margin-left: auto;
}

.task-item__control-btn {
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-item__control-btn:not(:last-child) {
  margin-right: 5px;
}

.task-item__control-btn:disabled {
  cursor: initial;
}

.task-item__control-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  .task-item {
    padding: 10px;
  }

  .task-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .task-item__info {
    padding-left: 35px;
  }

  .task-item__info::before,
  .task-item__info::after {
    width: 25px;
    height: 25px;
  }

  .task-item__info::after {
    background-size: 14px;
  }

  .task-item__control-icon {
    width: 18px;
    height: 18px;
  }
}
